/* CreateNewsFeed.css */

.create_news {
    padding: 50px;
    padding-right: 80px;
    border: 1px #000 solid;
    border-radius: 0.5rem;
    margin: 2rem;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-right: 20px;
    justify-content: space-between;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .mobile-preview {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .preview-content {
    margin-top: 20px;
  }
  
  .preview-content h3 {
    margin-bottom: 10px;
  }
  
  .preview-file img,
  .preview-file video {
    max-width: 100%;
    height: auto;
  }
  